body{
background-image: url(Sonya_Background.jpg); 
background-size: cover;

}

.MK_Memory {
  /* width: 1040px;
  height:840px; */
  perspective: 1000px;
  margin: 180px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  object-fit: contain;
}
.card {
  position: relative;
  transform-style: preserve-3d;
  transition: transform 1s;
      flex-flow: row wrap;
    object-fit: fill;
    border: 3px solid gold;
}
.card:active{
  transform: scale(1);

}

img.back-face{
  /* width: 200px; */
  height:100%;
  /* padding: 20px; */
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
  background: black;
  backface-visibility: hidden;
}


.card.flip {
  transform: rotateY(180deg);
}
img.face-front{}
